* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-img: url;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container-text {
    display: flex;
    width: 300px;
    height: 50px;
}
.container-text input {
    flex-grow: 1;
}
.container-button {
    display: flex;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container-button button {
    height: 100%;
    width: 150px;
}
@keyframes slider {
    0%, 20% {
        background-image: url(./img/imagem1.jpeg);
        --text-description: "Por do sól"
    }
    20%, 40% {
        background-image: url(./img/imagem2.jpeg);
        --text-description: "Por da lua!"
    }
    40%, 60% {
        background-image: url(./img/imagem3.jpeg);
        --text-description: "Volei de praia"
    }
    60%, 80% {
        background-image: url(./img/imagem4.jpeg);
        --text-description: "Fisioterapia"
    }
    80%, 100% {
        background-image: url(./img/imagem5.jpeg);
        --text-description: "Setup Gamer"
    }
}